.tg-user-avatar-upload-picker__photo {
  border: 1px solid #eaeaea;
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.tg-user-avatar-upload-picker__avatar-remove-button {
  position: relative;
  width: 25px;
  height: 25px;
  left: 50px;
  bottom: 125px;
  cursor: pointer;
}