.tg-contact-form-container {
    float:left;
    width: 40%;
}

.tg-contact-container {
float: right;
width: 40%;
}

ul {
    list-style: none
}

.tg-register-form__input {
    height: 40px;
    font-size: 16px;
    padding-left: 15px;
    width: 100%;
  }

.tg-register-form__contact-type-title {
    font-size: 18px;
}

.tg-contact-form__title {
    text-align: left;
}

.tg-contact-item__card {
    margin-bottom: 1rem
}
